extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  if(role.permissions.includes("accounts_create"))
    h1 Thêm tài khoản
    +alert-error(2000)
    form(
      action=`/${prefixAdmin}/accounts/create`
      method="POST"
      enctype="multipart/form-data"
    )
      div(class="form-group")
        label(for="fullName") Họ và tên
        input(
          type="text"
          id="fullName"
          name="fullName"
          class="form-control"
          required
        )
      div(class="form-group")
        label(for="email") Email
        input(
          type="email"
          id="email"
          name="email"
          class="form-control"
          required
        )
      div(class="form-group")
        label(for="password") Mật khẩu
        input(
          type="password"
          id="password"
          name="password"
          class="form-control"
          required
        )
      div(class="form-group")
        label(for="phone") Số điện thoại
        input(
          type="text"
          id="phone"
          name="phone"
          class="form-control"
        )
      div(
        class="form-group"
        upload-image
      )
        label(for="avatar") Avatar
        input(
          type="file"
          id="avatar"
          name="avatar"
          class="form-control-file"
          accept="image/*"
          upload-image-input
        )
        img(
          src=""
          class="image-preview"
          upload-image-preview
        )
        .btn.btn-light(
          class="button-close-preview d-none"
        ) Huỷ

      div(class="form-group")
        label(for="role_id") Phân quyền
        select(
          id="role_id"
          name="role_id"
          class="form-control"
        )
          option(disabled selected) -- Chọn --
          if(roles.length > 0)
            each item in roles 
              option(value=item.id) #{item.title}
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusActive"
          name="status"
          value="active"
          checked
        )
        label(for="statusActive" class="form-check-label") Hoạt động
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusInActive"
          name="status"
          value="inactive"
        )
        label(for="statusInActive" class="form-check-label") Dừng hoạt động
      div(class="form-group")
        button(
          type="submit"
          class="btn btn-primary"
        ) Tạo mới
  else
    div Chưa có quyền truy cập