mixin table-tree(items, level = 1)
  each item, index in items
    - const preFix = Array(level + 1).join("-- ")
    tr 
      td.align-center
        input(
          type="checkbox"
          name="id"
          value=item.id
        )
      td.align-center #{item.index}
      td.align-center 
        img(
          src=item.thumbnail
          alt=item.title
          width="100px"
          height="80px"
        )
      td.align-center #{preFix}#{item.title}
      td.align-center
        input(
          class="position"
          type="number"
          value=item.position 
          style="height: 30px"
          min="1"
          name="position"
        )
      td.align-center
        if(role.permissions.includes("products-category_edit"))
          if(item.status === "active")
            a(
              href="javaScript:;"
              data-status=item.status
              data-id=item.id
              button-change-status
              class="badge badge-success"
            ) Hoạt động
          else 
            a(
              href="javaScript:;"
              data-status=item.status
              data-id=item.id
              button-change-status
              class="badge badge-danger"
            ) Dừng hoạt động
        else
          if(item.status === "active")
            span(
              class="badge badge-success"
            ) Hoạt động
          else 
            span(
              class="badge badge-danger"
            ) Dừng hoạt động
      td.align-center
        a(
          href=`/${prefixAdmin}/products-category/detail/${item.id}`
        )
          button(
            class="bth btn-secondary btn-sm"
          ) Chi tiết
        a(
          href=`/${prefixAdmin}/products-category/edit/${item.id}`
        )
          if(role.permissions.includes("products-category_edit"))
            button(
              class="bth btn-warning btn-sm ml-1"
            ) Sửa
          if(role.permissions.includes("products-category_delete"))
            button(
              class="bth btn-danger btn-sm ml-1"
              data-id=item.id
              button-delete
            ) Xoá
    if item.children && item.children.length > 0
      +table-tree(item.children, level + 1)