extends ../../layouts/default.pug

block main
  .container.my-5
    .row.justify-content-center
      .col-8
        h2(class="text-left") Đăng ký
        form(
          action=`/user/register`
          method="POST"
        ) 
          div(class="form-group")
            label(for="fullName") Họ tên
            input(
              type="text"
              id="fullName"
              name="fullName"
              class="form-control"
              required
            )
          div(class="form-group")
            label(for="email") Email
            input(
              type="email"
              id="email"
              name="email"
              class="form-control"
              required
            )
            - if (messages.existEmail)
              .message.existEmail
                span= messages.existEmail
          div(class="form-group")
            label(for="password") Mật khẩu
            input(
              type="password"
              id="password"
              name="password"
              class="form-control"
              required
            )
          div(class="form-gruop")
            button(
              type="submit"
              class="btn btn-primary"
            ) Đăng ký