extends ../../layouts/default.pug

block main
  .container.my-5
    .row.justify-content-center
      .col-8
        h2(class="text-left") Đổi mật khẩu
        form(
          action=`/user/password/reset`
          method="POST"
        )
          div(class="form-group")
            label(for="password") Mật khẩu
            input(
              type="password"
              id="password"
              name="password"
              class="form-control"
              required
            )
          div(class="form-group")
            label(for="confirmPassword") Xác nhận mật khẩu
            input(
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              class="form-control"
              required
            )
            - if (messages.wrongPassword)
              .message.existEmail
                span= messages.wrongPassword
          div(class="form-gruop")
            button(
              type="submit"
              class="btn btn-primary btn-block"
            ) Xác nhận